/* .header{
    background-color: purple;
    color : white;
    text-align: center;
} */

/* .container{
    margin-top : 20px;
    padding-top: 30px;
    margin-bottom: 20px;
} */
.map{
    border: blue;
    border-width: 10px;
}

.jumbotron{
    padding: 60px 30px 70px 30px;
    background-color: #9575CD;
    color : floralwhite;
}


.footer{
    margin-top: 10px;
    padding: 50px 0px 50px 0px;
    background-color:yellowgreen;
}

.marq{
    /* background-color: blue; */
    color:wheat;
}
.navbar-dark {
    padding-top: 20px;
    background-color: #512dab;
}

